# ==============================================================================
# Global Exchange - Variables de Entorno de Producción
# ==============================================================================

# Django Core
SECRET_KEY=cambiar_por_una_clave_secreta_fuerte_de_50_caracteres_aleatorios
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,web,tu_dominio_produccion.com
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://tu_dominio_produccion.com
USE_HTTPS=False

# Base de Datos (PostgreSQL)
DB_NAME=global_exchange_db
DB_USER=postgres
DB_PASSWORD=definir_contrasena_segura_de_postgres
DB_HOST=db
DB_PORT=5432
KEYCLOAK_DB_NAME=keycloak_db

# Keycloak IAM
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=definir_contrasena_admin_keycloak
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_REALM=GlobalExchangeRealm
KEYCLOAK_CLIENT_ID=django-app
KEYCLOAK_CLIENT_SECRET=tu-secret-local
OIDC_RP_SIGN_ALGO=RS256
OIDC_VERIFY_SSL=False

# Servidor de Correo SMTP
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@globalexchange.local
